/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

#calendar-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#calendar-controls button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#calendar {
    margin-bottom: 20px;
    max-width: 100%;
    overflow-x: auto; /* 가로 스크롤을 제공하여 작은 화면에서도 전체 달력을 볼 수 있도록 함 */
}

#content {
    text-align: center;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%; /* 테이블이 가득 차도록 설정 */
    max-width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #f1f1f1;
}

/* Add a hover effect for the date cells */
.date:hover {
    background-color: #dcdcdc;
    transition: background-color 0.3s;
}

/* Style for the current date */
.current-date {
    background-color: #ffcccb;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    #calendar-controls {
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    #calendar-controls button {
        margin: 5px 0;
    }
}
